<div class="row p-0 m-0">
  <div class="col-12 p-0 m-0 text-right px-5 pt-5">
    <div style="color: deepskyblue; border: 2px solid deepskyblue;" class="row p-0 m-0">
      <div class="col-3 p-2 m-0">
        <img [src]="employee.avatar" (error)="useDefaultImage()" style="width: 300px; height: 300px; object-fit: cover; object-position: center; border: 2px solid deepskyblue">
      </div>
      <div class="col-9 p-2 m-0 text-dark text-left font-weight-bold">
        First name:<input type="text" class="form-control my-2" placeholder="Employee First name" required [(ngModel)]="employee.first_name" #fname
                          [class.danger-bottom]="!fname.checkValidity()" [class.success-bottom]="fname.checkValidity()">
        Last name:<input type="text" class="form-control my-2" placeholder="Employee Last name" required [(ngModel)]="employee.last_name" #lname
                         [class.danger-bottom]="!lname.checkValidity()" [class.success-bottom]="lname.checkValidity()">
        Email Id:<input type="email" class="form-control my-2" placeholder="Employee Last name" required [(ngModel)]="employee.email" #currEmail
                        [class.danger-bottom]="!currEmail.checkValidity()" [class.success-bottom]="currEmail.checkValidity()">
        Image Url:<input type="url" class="form-control my-2" placeholder="Avatar url" required [(ngModel)]="employee.avatar" #avatar
                        [class.danger-bottom]="!avatar.checkValidity()" [class.success-bottom]="avatar.checkValidity()">
      </div>
      <div class="col-3 px-5 py-2 m-0 text-left"></div>
      <div class="col-9 py-2 m-0 text-left">
        <button class="btn px-5 py-2 text-white" style="background-color: deepskyblue" (click)="addEmployee()" [disabled]="!checkValidity(fname, lname, currEmail, avatar)">Add Employee</button>
      </div>
    </div>
  </div>
</div>
