.bg-white-sp{
  background-color: lightgrey;
}
.hover-sp:hover{
  opacity: 1;
  cursor: pointer;
  background-color: deepskyblue;
  color: white;
}
.active-sp{
  background-color: deepskyblue;
  color: white;
}
.inactive-sp{
  background-color: deepskyblue;
  opacity: 0.35;
  color: black;
}
.danger-bottom{
  border-bottom: 2px solid red;
}
.success-bottom{
  border-bottom: 2px solid green;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
