.bg-white-sp{
  background-color: lightgrey;
}
.hover-sp:hover{
  opacity: 1;
  cursor: pointer;
  background-color: deepskyblue;
  color: white;
}
.active-sp{
  background-color: deepskyblue;
  color: white;
}
.inactive-sp{
  background-color: deepskyblue;
  opacity: 0.35;
  color: black;
}
